*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
  background-color: teal;
}
table {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}
table,
td,
th{
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 10px;
}
#pagination{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 20px auto;
position: absolute;
top:50%;
left:30%;
  }

  #pagination > li{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid aquamarine;
    background-color: aquamarine;
    cursor: pointer;
    transition: 0.3s;
  }
  #pagination > li:hover{
    transform:scale(1.2);
    font-size: 20px;

  }
  .pgsr{
    display:flex;
flex-direction: column;
justify-content: space-between;
position: relative;
height: 150px;
  }
  .search{
width: 350px;
height: 50px;
position: absolute;
content: "";
top: 5%;
left: 36%;
box-shadow: 1px  1px 4px rgba(17, 34, 191, 0.442);
  }
.activePage{
    background-color:orange !important;
}
.details_img{
    width: 50px;
    height: 50px;
}
img{
width: 300px;
height: 200px;
}
.details{
    width: 650px;
    height: 400px;
    box-shadow: 10px  4px 4px rgba(17, 34, 191, 0.442);
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    background-color: bisque;
    margin-top: 150px;
}
.countries{
    display:flex;
    align-items:center;
    justify-content:center;
    
}
.details h1 p{
text-align: center;

}
tbody a{
    color: #000;
}

.hide{
    display: none;
}
.btn{
    padding: 10px;
    cursor: pointer;
}

